
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    margin-top: 4rem;
    background-color: rgb(23, 21, 26);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0 0 30px rgb(255, 255, 255), 3px 3px 0px rgb(0, 0, 0),  0 0 20px rgb(255, 255, 255); 
}

ul {
    padding: 0;
    margin-top: 2rem;
    text-shadow: 0 0 8px white;
    list-style: none;
}

ul li {
    border: 1px solid grey;
    padding: .75rem;

}

input {
    border: none;
    width: 100%;
    margin-top: 2rem;
    padding-left: 3px;
    background-color: rgb(23, 21, 26);
    color: white;
    box-shadow: 0 0 5px white;
    border-radius: 5px;
    padding: 2px 0 2px 8px;
}

#btn {
    margin: .5rem 0 0 -.1rem;
    border-radius: 5px;
}

#task {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

#task span {
    margin-left: .5rem;
}

#task button {
    margin-left: auto;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: 2px solid rgb(231, 50, 50);
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 0 10px #333;
        overflow: hidden;
        transition: .3s;
    
}
#task button:hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1.2);
    box-shadow: 0 0 4px #111;
    transition: .3s;
}
#task svg {
    color: rgb(231, 50, 50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}
#task button:focus svg {
    opacity: 0;
    transition: .3s;
}
#task button:focus {
    width: 150px;
    height: 50px;
    transition: .3s;
}
#task button:focus span {
    opacity: 1;
    transition: .3s;
}

.completed {
    text-decoration: line-through;
}


.tasksLeft {
    width: fit-content;
    padding: 0 .6rem 0 .5rem;
    margin-top: .5rem;
    color: rgb(23, 21, 26);
    background-color: rgb(199, 187, 214);
    border-radius: 2px;
}
  

